* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

body {
  background: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 0 10px 0 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px auto;
  width: 100%;
}

.logo {
  width: 86px;
  height: 46px;
}

h1 {
  font-weight: 700;
  color: var(--title);
  margin-top: 10px;
}

.find-movies {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 181px;
  height: 46px;
  margin-top: 29px;

  background: var(--bg-button);
  border: 2px solid #1a1a1a;
  border-radius: 5px;

  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}

.find-icon {
  width: 33px;
  height: 24px;
}

.desciption-find {
  width: 100%;
  margin-top: 25px;
  max-width: 380px;
  text-align: center;
  font-size: 12px;
  line-height: 21px;
  color: #fffcf9;
}

#movie-content {
  display: flex;
  max-width: 628px;
  margin: 0 auto;
  margin-top: 42px;
}

#movie-content img {
  width: 171px;
  height: 243px;
  margin-top: 15px;
}

.description-movie {
  margin-left: 34px;
}

.description-movie .movie-title {
  font-weight: Bold;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
}

.description-movie .movie-description {
  font-size: 16px;
  line-height: 24px;
  color: #fffcf9;
}

.description-movie .movie-description-coding {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #fffcf9;
}

.coding {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  h1 {
    text-align: center;
  }

  #movie-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #movie-content img {
    margin-bottom: 20px;
  }
  .description-movie {
    text-align: center;
    margin-left: 0px;
  }
  .description-movie .movie-description-coding {
    text-align: center;
  }
}
